<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://myazurefunctionapp20220307101816.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0cce7abd-b47c-42f3-8104-73a96108daa2/resourcegroups/MyNewResGroup/providers/Microsoft.Web/sites/MyAzureFunctionApp20220307101816</ResourceId>
    <UserName>$MyAzureFunctionApp20220307101816</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://myazurefunctionapp20220307101816.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>